services:
  web:
    image: lizzyy/saas:latest
    build: .
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             gunicorn myproject.wsgi:application --bind 0.0.0.0:8000"
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles

volumes:
  static_volume:
